@tailwind base;
@tailwind components;
@tailwind utilities;

/* icons */
@font-face {
  font-family: 'icomoon';
  src:  url('../public/icons/icomoon.eot?hgxc7j');
  src:  url('../public/icons/icomoon.eot?hgxc7j#iefix') format('embedded-opentype'),
    url('../public/icons/icomoon.ttf?hgxc7j') format('truetype'),
    url('../public/icons/icomoon.woff?hgxc7j') format('woff'),
    url('../public/icons/icomoon.svg?hgxc7j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopify:before {
  content: "\e905";
  color: #000;
}
.icon-jquery:before {
  content: "\e902";
  color: #000;
}
.icon-javascript:before {
  content: "\e904";
  color: #000;
}
.icon-tailwindcss:before {
  content: "\e900";
  color: #000;
}
.icon-css3:before {
  content: "\e901";
  color: #000;
}
.icon-react:before {
  content: "\e903";
  color: #000;
}
.icon-html-five:before {
  content: "\eae4";
}
/* icons */

/* Font */
@font-face {
  font-family: 'Pitch Sans Medium';
  src: url('../public/font/PitchSans-Medium.eot');
  src: url('../public/font/PitchSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../public/font/PitchSans-Medium.woff2') format('woff2'),
      url('../public/font/PitchSans-Medium.woff') format('woff'),
      url('../public/font/PitchSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans Bold';
  src: url('../public/font/PitchSans-Bold.eot');
  src: url('../public/font/PitchSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../public/font/PitchSans-Bold.woff2') format('woff2'),
      url('../public/font/PitchSans-Bold.woff') format('woff'),
      url('../public/font/PitchSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans Light';
  src: url('../public/font/PitchSans-Light.eot');
  src: url('../public/font/PitchSans-Light.eot?#iefix') format('embedded-opentype'),
      url('../public/font/PitchSans-Light.woff2') format('woff2'),
      url('../public/font/PitchSans-Light.woff') format('woff'),
      url('../public/font/PitchSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Medium';
  src: url('../public/font/NotoSans-Medium.eot');
  src: url('../public/font/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../public/font/NotoSans-Medium.woff2') format('woff2'),
      url('../public/font/NotoSans-Medium.woff') format('woff'),
      url('../public/font/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans regular';
  src: url('../public/font/NotoSans-Regular.eot');
  src: url('../public/font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/font/NotoSans-Regular.woff2') format('woff2'),
      url('../public/font/NotoSans-Regular.woff') format('woff'),
      url('../public/font/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans bold';
  src: url('../public/font/NotoSans-SemiBold.eot');
  src: url('../public/font/NotoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../public/font/NotoSans-SemiBold.woff2') format('woff2'),
      url('../public/font/NotoSans-SemiBold.woff') format('woff'),
      url('../public/font/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Font */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #EAE7E6;
  font-family: 'Pitch Sans Medium';
}

main {
  position: relative;
}

h1,
h2,
h3 {
  font-family: 'Noto Sans bold';
}

.main-header {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-logo img {
  width: 65px !important;
  height: auto !important;
  position: relative !important;
  transition: all .6s ease-in-out;
}

.header-logo:hover img {
  transform: rotate(360deg);
}

html[data-theme="dark"] body .header-logo img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.nav-items {
  display: flex;
  gap: 13px;
}

.nav-items a {
  font-family: 'Pitch Sans Bold';
  cursor: pointer;
  position: relative;
}

.nav-items a span {
  position: relative;
}

.nav-items a span:after {
  position: absolute;
  content: "";
  top: 54%;
  left: -4px;
  width: 115%;
  height: 2px;
  background: #000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
  opacity: .7;
}

html[data-theme="dark"] .nav-items a span:after {
  background: #fff;
}

.nav-items a.active span:after,
.nav-items a:hover span:after {
  transform: scaleX(1);
  transform-origin: left;
}

@media(min-width: 768px) {
  .nav-items a {
    font-size: 18px;
  }

  .nav-items {
    gap: 5px;
    flex-direction: column;
  }

  .main-header {
    position: fixed;
    width: 100%;
    z-index: 100;
  }

}

@media(min-width: 1025px) {
  .header-logo img {
    width: 100px !important;
  }

  .nav-items {
    padding-right: 30px;
  }
}

/* Footer */

.footer-main {
  padding: 25px;
}

.footer-copyright {
  font-family: 'Pitch Sans Medium';
  position: relative;
  display: inline-block;
}

.footer-email {
  font-family: 'Pitch Sans Medium';
  display: flex;
  gap: 40px;
}

.footer-email a {
  position: relative;
}

.footer-email a:after {
  position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
    opacity: .7;
}

.footer-email a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

.footer-copyright:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 110%;
  height: 1px;
  background-color: #000;
  width: 50px;
  opacity: .5;
}

html[data-theme="dark"] .footer-copyright:after {
  background-color: #fff;
}

@media(min-width: 768px) {
  .footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Hero section */
.hero-section {
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px 50px;
  max-width: 1200px;
  height: 80vh;
  display: flex;
  align-items: center;
}

.hero-section h1 {
  font-size: 23px;
}

.hero-section .paragraph {
  font-family: 'Pitch Sans Medium';
  margin-top: 20px;
}

.hero-section .paragraph span {
  font-weight: 700;
}

.hero-content {
  position: relative;
}

.scribbles-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.bubble-tot {
  font-family: 'Pitch Sans Medium';
  position: absolute; 
  font-size: 9px;
  top: -10px;
  white-space: nowrap;
  display: inline-block;
  left: -20px;
}

.scribbles-wrapper img {
  position: relative !important;
  width: 35px !important;
  height: auto !important;
}

html[data-theme="dark"] .scribbles-wrapper img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.scribbles-wrapper .spider-gif {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 50px !important;
}

@media(min-width: 768px) {
  .hero-content {
    width: 67%;
  }

  .scribbles-wrapper img {
    width: 60px !important;
  }

  .scribbles-wrapper .spider-gif {
    width: 80px !important;
    margin-left: -25px;
  }

  .scribbles-wrapper {
    right: -185px;
    top: 50%;
    transform: translate(0,-50%);
  }

  .bubble-tot {
    font-size: 13px;
    left: 0;
  }

  .bubble-tot:after {
    content: '';
    background-color: #000;
    height: 1px;
    width: 19px;
    position: absolute;
    top: 144%;
    opacity: .7;
    transform: rotate(50deg);
    left: 50%;
  }

  html[data-theme="dark"] .bubble-tot:after {
    background-color: #fff;
  }
}

@media(min-width: 1025px) {
  .hero-section h1 {
    font-size: 65px;
  }

  .scribbles-wrapper img {
    width: 90px !important;
  }

  .scribbles-wrapper .spider-gif {
    width: 120px !important;
    margin-left: -25px;
  }

  .scribbles-wrapper {
    right: -225px;
  }
}

/* Back to top */

.back-to-top img {
  width: 40px !important;
  height: auto !important;
  position: relative !important;
}

html[data-theme="dark"] .back-to-top img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 10px;
  transform: translateY(200px);
  transition: all .7s ease-in-out;
}

.back-to-top.active {
  transform: translateY(0);
}

@media(min-width: 768px) {
  .back-to-top img {
    width: 50px !important;
  }
  
  .back-to-top {
    bottom: 20px;
    right: 10px;
  }
}

/* logo rotate */


/* Framework section */

.frameworks-section {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.frameworks-section > div {
  display: inline-block;
  width: 25%;
  text-align: center;
}

.frameworks-section > div:before {
  font-size: 45px;
  display: block;
}

html[data-theme="dark"] .frameworks-section > div:before {
  color: #fff;
}

.frameworks-section > div {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(0, 15px); }
  100% { transform: translate(0, -0px); }
}

.icon-shopify { animation-delay: 0s; }
.icon-jquery { animation-delay: 0.5s; }
.icon-javascript { animation-delay: 1s; }
.icon-tailwindcss { animation-delay: 1.5s; }
.icon-react { animation-delay: 2s; }
.icon-html-five { animation-delay: 2.5s; }
.icon-css3 { animation-delay: 3s; }

@media(min-width: 768px) {
  .frameworks-section {
    gap: 45px;
    padding-bottom: 50px;
  }

  .frameworks-section > div {
    width: auto;
  }

}

@media(min-width: 1025px) {
  .frameworks-section > div:before {
    font-size: 60px;
  }
}

/* Projects */

.project-img-wrap img {
  position: relative !important;
  width: 300px !important;
  height: 250px !important;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
}

.projects-section {
  margin-left: auto;
  margin-right: auto;
  padding: 50px 25px 50px;
  max-width: 1200px;
}

.projects-section h2 {
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Noto Sans regular';
}

.projects-section h2 span {
  font-weight: 700;
}

.project-item {
  text-align: center;
}

.project-img-wrap {
  margin-bottom: 30px;
  position: relative;
  display: block;
}

.project-info {
  font-family: 'Pitch Sans Medium';
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100%;
  z-index: 1;
}

.project-info h4 {
  font-family: 'Pitch Sans Light';
}

.project-info h3 {
  margin-bottom: 5px;
  letter-spacing: 3px;
}

.project-info span {
  font-size: 13px;
}

.project-item  {
  margin-bottom: 30px;
}

.project-item:last-child {
  margin-bottom: 0;
}

.project-item-contaner {
  position: relative;
  height: 400px;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-item-contaner img {
  object-fit: cover;
}

.project-item-contaner h2 {
  font-size: 80px !important;
  font-family: 'Noto Sans bold';
  z-index: 1;
}

.project-item-contaner h3 {
  margin-bottom: 0;
}

.project-item-contaner h2,
.project-item-contaner h3,
.project-item-contaner h4 {
  transition: all .4s ease-in-out;
  color: #fff;
}

html[data-theme="dark"] .project-item-contaner h2,
html[data-theme="dark"] .project-item-contaner h3,
html[data-theme="dark"] .project-item-contaner h4 {
  color: #fff;
}

.project-item-contaner:hover h2,
.project-item-contaner:hover h3,
.project-item-contaner:hover h4
{
  color: #fff;
}

.projects-wrapper {
  position: relative;
}

.arrow-project {
    width: 23px !important;
    height: auto !important; 
    left: unset !important;
    top: unset !important;
    right: 20px !important;
    bottom: 30px !important;
    transition: all .4s ease-in-out;
    z-index: 1;
}

.project-item-contaner .arrow-project {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.project-item-contaner:after {
  content: '';
  background-color: #00000057;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all .3s ease-in-out;
}
/* 
.projects-wrapper .swiper {
  position: relative;
  padding-bottom: 200px;
}
*/

.projects-wrapper .swiper-pagination {
 display: none;
} 

@media(min-width: 768px) {
  .project-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-around;
  }

  .project-item.right {
    flex-direction: row-reverse;
  }

  .project-info {
    text-align: left;
  }

  .right .project-info {
    text-align: right;
  }

  .project-img-wrap .image-background {
    top: 7px!important;
    left: -16px!important;
  }

}

@media(min-width: 1025px) {

  .project-img-wrap .image-background {
    transform: scale(1.1);
  }

  .project-item {
    justify-content: center;
  }

  .project-info span {
    font-size: 14px;
  }

  .proj-main-img {
    opacity: 0;
    transition: all .4s ease-in-out;
  }

  .project-item-contaner:hover .proj-main-img {
    opacity: 1;
  }

  .project-item-contaner:after {
    content: '';
    background-color: #00000057;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
  }
  
  .project-item-contaner:hover:after {
    opacity: 1;
  }

  .project-item-contaner h2,
  .project-item-contaner h3,
  .project-item-contaner h4 {
    transition: all .4s ease-in-out;
    color: #000;
  }

  .project-item-contaner:hover h2,
  .project-item-contaner:hover h3,
  .project-item-contaner:hover h4
  {
    color: #fff;
  }

  .project-item-contaner .arrow-project {
    -webkit-filter: unset;
    filter: unset;
  }

  .project-item-contaner:hover .arrow-project {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  html[data-theme="dark"] .project-item-contaner .arrow-project {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

}

/* About Section */

.profile-img-wrapper img {
  position: relative !important;
  width: 300px !important;
  height: auto !important;
  object-fit: contain !important;
  margin-left: auto;
  margin-right: auto;
}

.profile-img-wrapper {
  position: relative;
}

.about-section {
  margin-left: auto;
  margin-right: auto;
  padding: 50px 25px 50px;
  max-width: 1200px;
  border-top: 1px solid #000;
}

.about-section .info h3 {
  font-family: 'Pitch Sans Bold';
  font-size: 25px;
  margin-bottom: 15px;
}

.about-section .info p {
  font-family: 'Pitch Sans Medium';
  font-size: 13px;
  margin-bottom: 10px;
}

.about-section .info p:last-child {
  margin-bottom: 0;
}

.profile-img-wrapper {
  margin-bottom: 25px;
}

.accordion-wrapper {
  margin-top: 30px;
}

.accordion-title {
  font-family: 'Pitch Sans Bold';
  cursor: pointer;
  margin-top: 10px;
}

.accordion-item:first-child .accordion-title {
  margin-top: 0;
}

.accordion-content {
  font-family: 'Pitch Sans Medium';
  margin-bottom: 10px;
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: all .4s ease-in-out;
  font-size: 13px;
}

.active .accordion-content {
  max-height: 1000px;
}

.accordion-item {
  border-bottom: 1px solid #000;
  position: relative
}

html[data-theme="dark"] .accordion-item {
  border-bottom: 1px solid #fff;
}

.accordion-arrow {
  width: 15px !important;
  height: auto !important;
  right: 0 !important;
  left: unset !important;
  top: 10px !important;
  transition: all .4s ease-in-out;
}

html[data-theme="dark"] .accordion-arrow {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.active .accordion-arrow {
  transform: rotate(180deg);
}

@media(min-width: 768px) {
  .about-section .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .about-section .profile-img-wrapper {
    width: 30%;
    margin-bottom: 0;
  }

  .about-section .info {
    width: 65%;
  }

  .accordion-wrapper {
    width: 70%;
  }
}


@media(min-width: 1025px) {
  .about-section .info h3 {
    font-size: 28px;
  }

  .profile-img-wrapper img {
    width: 400px !important;
  }
  
  .about-section .info {
    padding-right: 50px;
  }

  .about-section .info p {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .accordion-content {
    font-size: 14px;
  }
}

/* Contact */

.contact-section {
  text-align: center;
  padding: 100px 25px 50px;
}

.contact-section h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
}

.contact-section ul {
  margin-top: 35px;
}

.contact-section ul li {
  margin-bottom: 40px;
}

.contact-section ul li:last-child {
  margin-bottom: 0;
}

.contact-section ul a {
  font-family: 'Pitch Sans Bold';
  position: relative;
  display: inline-block;
}

.contact-section ul li > div {
  position: relative;
  display: inline-block;
  position: relative;
}

.contact-section ul li > div:hover span {
  filter: invert();
}

.contact-section ul a span {
  z-index: 1;
  display: block;
  mix-blend-mode: inherit;
}

.contact-section ul li > div:hover .pointer-img-wrap {
  opacity: 1;
}

.pointer-img-wrap {
  width: 200px;
  height: auto;
  z-index: -1;
  opacity: 0;
}

.pointer-img-wrap img {
  object-fit: contain;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 150px !important;
  height: auto !important;
}

.contact-section ul a:after {
  position: absolute;
  content: "";
  top: 54%;
  left: -4px;
  width: 115%;
  height: 2px;
  background: #000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
  opacity: .7;
}

.contact-section ul a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

@media(min-width: 768px) {
  .contact-section h1 {
    font-size: 40px;
    letter-spacing: 25px;
  }

  .contact-section ul a {
    font-size: 25px;
  }
}

/* Theme switch */
.themeswitch-wrapper .dark-mode-icon {
  width: 30px !important;
  height: auto !important;
  transition: all .4s ease-in-out;
}

.themeswitch-wrapper .active .dark-mode-icon.moon-icon {
  transform: translateX(1000px);
}

.themeswitch-wrapper .not-active .dark-mode-icon.sun-icon {
  transform: translateX(1000px);
}

html[data-theme="dark"] body {
  background-color: #131313;
  color: #fff;
}