/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* icons */
@font-face {
  font-family: 'icomoon';
  src:  url('../public/icons/icomoon.eot?hgxc7j');
  src:  url('../public/icons/icomoon.eot?hgxc7j#iefix') format('embedded-opentype'),
    url('../public/icons/icomoon.ttf?hgxc7j') format('truetype'),
    url('../public/icons/icomoon.woff?hgxc7j') format('woff'),
    url('../public/icons/icomoon.svg?hgxc7j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopify:before {
  content: "\e905";
  color: #000;
}
.icon-jquery:before {
  content: "\e902";
  color: #000;
}
.icon-javascript:before {
  content: "\e904";
  color: #000;
}
.icon-tailwindcss:before {
  content: "\e900";
  color: #000;
}
.icon-css3:before {
  content: "\e901";
  color: #000;
}
.icon-react:before {
  content: "\e903";
  color: #000;
}
.icon-html-five:before {
  content: "\eae4";
}
/* icons */

/* Font */
@font-face {
  font-family: 'Pitch Sans Medium';
  src: url('../public/font/PitchSans-Medium.eot');
  src: url('../public/font/PitchSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../public/font/PitchSans-Medium.woff2') format('woff2'),
      url('../public/font/PitchSans-Medium.woff') format('woff'),
      url('../public/font/PitchSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans Bold';
  src: url('../public/font/PitchSans-Bold.eot');
  src: url('../public/font/PitchSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../public/font/PitchSans-Bold.woff2') format('woff2'),
      url('../public/font/PitchSans-Bold.woff') format('woff'),
      url('../public/font/PitchSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans Light';
  src: url('../public/font/PitchSans-Light.eot');
  src: url('../public/font/PitchSans-Light.eot?#iefix') format('embedded-opentype'),
      url('../public/font/PitchSans-Light.woff2') format('woff2'),
      url('../public/font/PitchSans-Light.woff') format('woff'),
      url('../public/font/PitchSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Medium';
  src: url('../public/font/NotoSans-Medium.eot');
  src: url('../public/font/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../public/font/NotoSans-Medium.woff2') format('woff2'),
      url('../public/font/NotoSans-Medium.woff') format('woff'),
      url('../public/font/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans regular';
  src: url('../public/font/NotoSans-Regular.eot');
  src: url('../public/font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/font/NotoSans-Regular.woff2') format('woff2'),
      url('../public/font/NotoSans-Regular.woff') format('woff'),
      url('../public/font/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans bold';
  src: url('../public/font/NotoSans-SemiBold.eot');
  src: url('../public/font/NotoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../public/font/NotoSans-SemiBold.woff2') format('woff2'),
      url('../public/font/NotoSans-SemiBold.woff') format('woff'),
      url('../public/font/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Font */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #EAE7E6;
  font-family: 'Pitch Sans Medium';
  position: relative;
  overflow: hidden;
}

body:after {
  content: "";
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  z-index: 9999;
  position: fixed;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
  opacity: 0.15;
  pointer-events: none;
  -webkit-animation: noise 1s steps(2) infinite;
  animation: noise 1s steps(2) infinite;
}

@-webkit-keyframes noise {
  to { -webkit-transform: translate3d(-7rem,0,0); transform: translate3d(-7rem,0,0) }
}

@keyframes noise {
  0% { -webkit-transform: translate3d(0,9rem,0); transform: translate3d(0,9rem,0) }
  10% { -webkit-transform: translate3d(-1rem,-4rem,0); transform: translate3d(-1rem,-4rem,0) }
  20% { -webkit-transform: translate3d(-8rem,2rem,0); transform: translate3d(-8rem,2rem,0) }
  30% { -webkit-transform: translate3d(9rem,-9rem,0); transform: translate3d(9rem,-9rem,0) }
  40% { -webkit-transform: translate3d(-2rem,7rem,0); transform: translate3d(-2rem,7rem,0) }
  50% { -webkit-transform: translate3d(-9rem,-4rem,0); transform: translate3d(-9rem,-4rem,0) }
  60% { -webkit-transform: translate3d(2rem,6rem,0); transform: translate3d(2rem,6rem,0) }
  70% { -webkit-transform: translate3d(7rem,-8rem,0); transform: translate3d(7rem,-8rem,0) }
  80% { -webkit-transform: translate3d(-9rem,1rem,0); transform: translate3d(-9rem,1rem,0) }
  90% { -webkit-transform: translate3d(6rem,-5rem,0); transform: translate3d(6rem,-5rem,0) }
  to { -webkit-transform: translate3d(-7rem,0,0); transform: translate3d(-7rem,0,0) }
}

main {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: 'Noto Sans bold';
}

.main-header {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

.header-logo img {
  width: 65px !important;
  height: auto !important;
  position: relative !important;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.header-logo:hover img {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

html[data-theme="dark"] body .header-logo img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}

.nav-items a {
  font-family: 'Pitch Sans Bold';
  cursor: pointer;
  position: relative;
}

.nav-items a span {
  position: relative;
}

.nav-items a span:after {
  position: absolute;
  content: "";
  top: 54%;
  left: -4px;
  width: 115%;
  height: 2px;
  background: #000;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  opacity: .7;
}

html[data-theme="dark"] .nav-items a span:after {
  background: #fff;
}

.nav-items a.active span:after,
.nav-items a:hover span:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

@media(min-width: 768px) {
  .nav-items a {
    font-size: 15px;
  }

  .nav-items {
    gap: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

}

@media(min-width: 1025px) {
  .header-logo img {
    width: 100px !important;
  }

  .nav-items {
    padding-right: 30px;
  }
}

/* Footer */

.footer-main {
  padding: 25px;
  position: absolute;
  bottom: 0;
}

.footer-copyright {
  font-family: 'Pitch Sans Medium';
  position: relative;
  display: inline-block;
  font-size: 11px;
}

.footer-email {
  font-family: 'Pitch Sans Medium';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.footer-email a {
  position: relative;
}

.footer-email a:after {
  position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    opacity: .7;
}

.footer-email a:hover:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

html[data-theme="dark"] .footer-copyright:after {
  background-color: #fff;
}

@media(min-width: 768px) {
  .footer-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Hero section */
.hero-section {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 50px;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html[data-theme="dark"] .hero-section h1,
html[data-theme="dark"] .project-info h3,
html[data-theme="dark"] .contact-section h1 {
  -webkit-animation-name:glow;
          animation-name:glow;
  -webkit-animation-duration:3s;
          animation-duration:3s;
  -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
          animation-direction:alternate;
}

.hero-section h1 {
  font-size: 23px;
}

@-webkit-keyframes glow{
  from{text-shadow:0px 0px 5px #fff,0px 0px 5px #614ad3;}
  to{text-shadow:0px 0px 20px #fff,0px 0px 20px #614ad3;}
}

@keyframes glow{
  from{text-shadow:0px 0px 5px #fff,0px 0px 5px #614ad3;}
  to{text-shadow:0px 0px 20px #fff,0px 0px 20px #614ad3;}
}

.hero-section .paragraph {
  font-family: 'Pitch Sans Medium';
  margin-top: 20px;
  width: 65%;
}

.hero-section .paragraph span {
  font-weight: 700;
}

.hero-content {
  position: relative;
}

.scribbles-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bubble-tot {
  font-family: 'Pitch Sans Medium';
  position: absolute; 
  font-size: 9px;
  top: -10px;
  white-space: nowrap;
  display: inline-block;
  left: -20px;
}

.scribbles-wrapper img {
  position: relative !important;
  width: 35px !important;
  height: auto !important;
}

html[data-theme="dark"] .scribbles-wrapper img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.scribbles-wrapper .spider-gif {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
      transform: scaleX(-1);
  width: 50px !important;
}

.hero-section .paragraph {
  width: 40%;
}

@media(min-width: 768px) {
  .hero-content {
    width: 67%;
  }

  .scribbles-wrapper img {
    width: 60px !important;
  }

  .scribbles-wrapper .spider-gif {
    width: 80px !important;
    margin-left: -25px;
  }

  .scribbles-wrapper {
    right: -185px;
    top: 50%;
    -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
            transform: translate(0,-50%);
  }

  .bubble-tot {
    font-size: 13px;
    left: 0;
  }

  .bubble-tot:after {
    content: '';
    background-color: #000;
    height: 1px;
    width: 19px;
    position: absolute;
    top: 144%;
    opacity: .7;
    -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
            transform: rotate(50deg);
    left: 50%;
  }

  html[data-theme="dark"] .bubble-tot:after {
    background-color: #fff;
  }
}

@media(min-width: 1025px) {
  .hero-section h1 {
    font-size: 65px;
    line-height: 60px;
  }

  .scribbles-wrapper img {
    width: 90px !important;
  }

  .scribbles-wrapper .spider-gif {
    width: 120px !important;
    margin-left: -25px;
  }

  .scribbles-wrapper {
    right: -225px;
  }
}

/* Back to top */

.back-to-top img {
  width: 40px !important;
  height: auto !important;
  position: relative !important;
}

html[data-theme="dark"] .back-to-top img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 10px;
  -webkit-transform: translateY(200px);
      -ms-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.back-to-top.active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

@media(min-width: 768px) {
  .back-to-top img {
    width: 50px !important;
  }
  
  .back-to-top {
    bottom: 20px;
    right: 10px;
  }
}

/* logo rotate */


/* Framework section */

.frameworks-section {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.frameworks-section > div {
  display: inline-block;
  width: 25%;
  text-align: center;
}

.frameworks-section > div:before {
  font-size: 45px;
  display: block;
}

html[data-theme="dark"] .frameworks-section > div:before {
  color: #fff;
}

.frameworks-section > div {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating {
  0% { -webkit-transform: translate(0, 0px); transform: translate(0, 0px); }
  50% { -webkit-transform: translate(0, 15px); transform: translate(0, 15px); }
  100% { -webkit-transform: translate(0, -0px); transform: translate(0, -0px); }
}

@keyframes floating {
  0% { -webkit-transform: translate(0, 0px); transform: translate(0, 0px); }
  50% { -webkit-transform: translate(0, 15px); transform: translate(0, 15px); }
  100% { -webkit-transform: translate(0, -0px); transform: translate(0, -0px); }
}

.icon-shopify { -webkit-animation-delay: 0s; animation-delay: 0s; }
.icon-jquery { -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }
.icon-javascript { -webkit-animation-delay: 1s; animation-delay: 1s; }
.icon-tailwindcss { -webkit-animation-delay: 1.5s; animation-delay: 1.5s; }
.icon-react { -webkit-animation-delay: 2s; animation-delay: 2s; }
.icon-html-five { -webkit-animation-delay: 2.5s; animation-delay: 2.5s; }
.icon-css3 { -webkit-animation-delay: 3s; animation-delay: 3s; }

@media(min-width: 768px) {
  .frameworks-section {
    gap: 45px;
    padding-bottom: 50px;
  }

  .frameworks-section > div {
    width: auto;
  }

}

@media(min-width: 1025px) {
  .frameworks-section > div:before {
    font-size: 60px;
  }
}

/* Projects */

.project-img-wrap img {
  position: relative !important;
  width: 300px !important;
  height: 250px !important;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: auto;
  margin-left: auto;
}

.projects-section {
  margin-left: auto;
  margin-right: auto;
  padding: 50px 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-section h2 {
  margin-bottom: 50px;
  font-size: 18px;
  font-family: 'Noto Sans regular';
  margin-right: 30px;
}

.projects-section h2 span {
  font-weight: 700;
}

.project-item {
  text-align: center;
}

.project-img-wrap {
  margin-bottom: 30px;
  position: relative;
  display: block;
}

.project-info {
  font-family: 'Pitch Sans Medium';
  bottom: 20px;
  left: 20px;
  width: 100%;
  z-index: 1;
  display: block;
  margin-bottom: 10px;
}

.project-info h4 {
  font-family: 'Pitch Sans Light';
}

.project-info h3 {
  letter-spacing: 0;
}

.project-info span {
  font-size: 13px;
}

.project-item  {
  margin-bottom: 30px;
}

.project-item:last-child {
  margin-bottom: 0;
}

.project-item-contaner {
  position: relative;
  height: 250px;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-item-contaner img {
  -o-object-fit: cover;
     object-fit: cover;
}

.project-item-contaner h2 {
  font-size: 80px !important;
  font-family: 'Noto Sans bold';
  z-index: 1;
}

.project-item-contaner h3 {
  margin-bottom: 0;
}

.project-item-contaner h2,
.project-item-contaner h3,
.project-item-contaner h4 {
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: #fff;
}

html[data-theme="dark"] .project-item-contaner h2,
html[data-theme="dark"] .project-item-contaner h3,
html[data-theme="dark"] .project-item-contaner h4 {
  color: #fff;
}

.project-item-contaner:hover h2,
.project-item-contaner:hover h3,
.project-item-contaner:hover h4
{
  color: #fff;
}

.projects-wrapper {
  position: relative;
}

.arrow-project {
    width: 23px !important;
    height: auto !important; 
    left: unset !important;
    top: unset !important;
    right: 20px !important;
    bottom: 30px !important;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: 1;
}

.project-item-contaner .arrow-project {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.project-item-contaner:after {
  content: '';
  background-color: #00000057;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* 
.projects-wrapper .swiper {
  position: relative;
  padding-bottom: 200px;
}
*/

.projects-wrapper .swiper-pagination {
 display: none;
} 

.prj-items-wrapper {
  padding-left: 50px;
  max-height: calc(50vh - 60px);
  overflow: scroll; 
  position: relative;
  z-index: 101;
  border-left: 1px solid;
}

@media(min-width: 768px) {
  .project-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .project-item.right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .project-info {
    text-align: left;
  }

  .right .project-info {
    text-align: right;
  }

  .project-img-wrap .image-background {
    top: 7px!important;
    left: -16px!important;
  }

  .projects-section {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .projects-section > div {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .project-info h3 {
    font-size: 25px;
  }

  .prj-items-wrapper {
    padding-left: 50px;
  }

}

@media(min-width: 1025px) {

  .project-img-wrap .image-background {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .project-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .project-info span {
    font-size: 14px;
  }

  .proj-main-img {
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .project-item-contaner:hover .proj-main-img {
    opacity: 1;
  }

  .project-item-contaner:after {
    content: '';
    background-color: #00000057;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  
  .project-item-contaner:hover:after {
    opacity: 1;
  }

  .project-item-contaner h2,
  .project-item-contaner h3,
  .project-item-contaner h4 {
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #000;
  }

  .project-item-contaner:hover h2,
  .project-item-contaner:hover h3,
  .project-item-contaner:hover h4
  {
    color: #fff;
  }

  .project-item-contaner .arrow-project {
    -webkit-filter: unset;
    filter: unset;
  }

  .project-item-contaner:hover .arrow-project {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  html[data-theme="dark"] .project-item-contaner .arrow-project {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .projects-section > div {
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .project-info h3 {
    font-size: 53px;
  }

  .prj-items-wrapper {
    max-height: 500px;
  }

  ::-webkit-scrollbar {
    display: none; 
  }


}

/* About Section */

.profile-img-wrapper img {
  position: relative !important;
  width: 300px !important;
  height: auto !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  margin-left: auto;
  margin-right: auto;
}

.profile-img-wrapper {
  position: relative;
}

.about-section {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-top: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .info h3 {
  font-family: 'Pitch Sans Bold';
  font-size: 25px;
  margin-bottom: 15px;
}

.about-section .info p {
  font-family: 'Pitch Sans Medium';
  font-size: 13px;
  margin-bottom: 10px;
}

.about-section .info p:last-child {
  margin-bottom: 0;
}

.profile-img-wrapper {
  margin-bottom: 25px;
}

.accordion-wrapper {
  margin-top: 30px;
}

.accordion-title {
  font-family: 'Pitch Sans Bold';
  cursor: pointer;
  margin-top: 10px;
}

.accordion-item:first-child .accordion-title {
  margin-top: 0;
}

.accordion-content {
  font-family: 'Pitch Sans Medium';
  margin-bottom: 10px;
}

.accordion-content {
  font-size: 13px;
}

.active .accordion-content {
  max-height: 1000px;
}

.accordion-item {
  border-bottom: 1px solid #000;
  position: relative
}

html[data-theme="dark"] .accordion-item {
  border-bottom: 1px solid #fff;
}

.accordion-arrow {
  width: 15px !important;
  height: auto !important;
  right: 0 !important;
  left: unset !important;
  top: 10px !important;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

html[data-theme="dark"] .accordion-arrow {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.active .accordion-arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media(min-width: 768px) {
  .about-section .profile-img-wrapper {
    width: 30%;
    margin-bottom: 0;
  }

  .about-section .info {
    width: 65%;
  }

  .accordion-wrapper {
    width: 70%;
  }

  .about-section {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .about-section .container {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    height: 100%;
  }

  .about-section .container .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}


@media(min-width: 1025px) {
  .about-section .info h3 {
    font-size: 28px;
  }

  .profile-img-wrapper img {
    width: 400px !important;
  }
  
  .about-section .info {
    padding-right: 50px;
  }

  .about-section .info p {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .accordion-content {
    font-size: 14px;
  }
}

/* Contact */

.contact-section {
  text-align: center;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-section h1 {
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 30px;
}

.contact-section ul {
  margin-top: 35px;
}

.contact-section ul li {
  margin-bottom: 40px;
}

.contact-section ul li:last-child {
  margin-bottom: 0;
}

.contact-section ul a {
  font-family: 'Pitch Sans Bold';
  position: relative;
  display: inline-block;
}

.contact-section ul li > div {
  position: relative;
  display: inline-block;
  position: relative;
}

.contact-section ul li > div:hover span {
  -webkit-filter: invert();
          filter: invert();
}

.contact-section ul a span {
  z-index: 1;
  display: block;
  mix-blend-mode: inherit;
}

.contact-section ul li > div:hover .pointer-img-wrap {
  opacity: 1;
}

.pointer-img-wrap {
  width: 200px;
  height: auto;
  z-index: -1;
  opacity: 0;
}

.pointer-img-wrap img {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  width: 150px !important;
  height: auto !important;
}

.contact-section ul a:after {
  position: absolute;
  content: "";
  top: 54%;
  left: -4px;
  width: 115%;
  height: 2px;
  background: #000;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  opacity: .7;
}

.contact-section ul a:hover:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

@media(min-width: 768px) {
  .contact-section h1 {
    font-size: 40px;
  }

  .contact-section ul a {
    font-size: 25px;
  }
}

/* Theme switch */

.themeswitch-wrapper .active .dark-mode-icon.moon-icon {
  -webkit-transform: translateX(1000px);
      -ms-transform: translateX(1000px);
          transform: translateX(1000px);
}

.themeswitch-wrapper .not-active .dark-mode-icon.sun-icon {
  -webkit-transform: translateX(1000px);
      -ms-transform: translateX(1000px);
          transform: translateX(1000px);
}

html[data-theme="dark"] body {
  background-color: #000;
  color: #fff;
}

.themeswitch-wrapper {
  position: absolute;
  bottom: 20px !important;
  width: auto;
  max-width: 500px;
  z-index: 20;
  left: 50%;
}

.themeswitch-wrapper button {
  position: relative;
  width: 23px;
  height: 23px;
}

/* New style */
.section-wrapper {
  height: 100vh !important;
}

.section-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
  opacity: 0;
  z-index: -1;
  visibility: hidden; 
}

.section-item.active {
  opacity: 1;
  z-index: 1;
  visibility: visible;
}