@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@font-face {
  font-family: 'Pitch Sans Medium';
  src: url('../public/font/PitchSans-Medium.eot');
  src: url('../public/font/PitchSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../public/font/PitchSans-Medium.woff2') format('woff2'),
      url('../public/font/PitchSans-Medium.woff') format('woff'),
      url('../public/font/PitchSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans Bold';
  src: url('../public/font/PitchSans-Bold.eot');
  src: url('../public/font/PitchSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../public/font/PitchSans-Bold.woff2') format('woff2'),
      url('../public/font/PitchSans-Bold.woff') format('woff'),
      url('../public/font/PitchSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans Light';
  src: url('../public/font/PitchSans-Light.eot');
  src: url('../public/font/PitchSans-Light.eot?#iefix') format('embedded-opentype'),
      url('../public/font/PitchSans-Light.woff2') format('woff2'),
      url('../public/font/PitchSans-Light.woff') format('woff'),
      url('../public/font/PitchSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Medium';
  src: url('../public/font/NotoSans-Medium.eot');
  src: url('../public/font/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../public/font/NotoSans-Medium.woff2') format('woff2'),
      url('../public/font/NotoSans-Medium.woff') format('woff'),
      url('../public/font/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans regular';
  src: url('../public/font/NotoSans-Regular.eot');
  src: url('../public/font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/font/NotoSans-Regular.woff2') format('woff2'),
      url('../public/font/NotoSans-Regular.woff') format('woff'),
      url('../public/font/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans bold';
  src: url('../public/font/NotoSans-SemiBold.eot');
  src: url('../public/font/NotoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../public/font/NotoSans-SemiBold.woff2') format('woff2'),
      url('../public/font/NotoSans-SemiBold.woff') format('woff'),
      url('../public/font/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Font */

h1,
h2,
h3 {
  font-family: 'Noto Sans bold';
}

.main-header {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-logo img {
  width: 75px !important;
  height: auto !important;
  position: relative !important;
  transition: all .6s ease-in-out;
}

.header-logo:hover img {
  transform: rotate(360deg);
}

.nav-items {
  display: flex;
  gap: 30px;
}

.nav-items a {
  font-family: 'Pitch Sans Bold';
  cursor: pointer;
  position: relative;
}

.nav-items a:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
  opacity: .7;
}

.nav-items a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

@media(min-width: 768px) {
  .nav-items a {
    font-size: 18px;
  }
}

@media(min-width: 1025px) {
  .header-logo img {
    width: 100px !important;
  }

  .nav-items {
    padding-right: 30px;
  }
}

/* Footer */

.footer-main {
  padding: 25px;
}

.footer-copyright {
  font-family: 'Pitch Sans Medium';
  position: relative;
  display: inline-block;
}

.footer-copyright:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 110%;
  height: 1px;
  background-color: #000;
  width: 50px;
  opacity: .5;
}

/* Hero section */
.hero-section {
  margin-left: auto;
  margin-right: auto;
  padding: 50px 25px;
  max-width: 1200px;
}